<!doctype> <html> <head>
  <title><%=shopName%></title>
 </head>

 <body>

 <h1>Register for <%=shopName%> Shop</h1>

<p> Fill in this form to register</p>
 <form method="POST" action="/registered"> 
<p><label>First Name: <input id="first" type="text" name="first" value="first name" /></label></p>

<p> <label>Last Name: <input id="last" type="text" name="last" value="last name" /></label></p>

<p> <label>Email Address: <input id="email" type="text" name="email" value="email address" /></label> </p>

 <input type="submit" value="OK" /> 
</form>
 </body>
</html>

